# An * ensures that everything will be ignored.
# *

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!.gitkeep
!*.yaml
!*.md
!.yamllint
!/.stubs/
!esphome/*.yaml
!.HA_VERSION

# Ignore folders.
.storage
.cloud
.vscode
.gitprivate
deps
tts
node_modules
node-red
hacs
custom_components
www/community
neighbours

# Ensure these YAML files containing secrets/credentials are ignored.
secrets.yaml
ip_bans.yaml
known_devices.yaml
.ios.conf
.spotify-token-cache
.uuid
.config_entries.json
.homekit.state
.google.token
google_calendars.yaml
plex.conf
*.session
zigbee.db
bvg_*.json
.omv_cookies.json
packages/hacs.yaml
packages/person.yaml
packages/shared.yaml
packages/*internal.yaml

# ESPHome
esphome/secrets.yaml
esphome/**/

# Generic
*.db*
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.log
*.pyc
*.vim
*.bkp
*.sql
.DS_Store
package-lock.json

# Images
*.jpg
*.jpeg
*.png
*.svg
